/* CUSTOM STYLES */

input:focus,
select:focus { outline: none; }

body {
	font-family: 'nexa_boldregular';
	font-size: 12px;
}

.light_font {
	font-family: 'nexa_lightregular';
}

.nopadding {
	padding: 0;
}

.top_bar {
	background: #000000;
}

.top_bar .left_side {
	padding: 12px 0;
}

.top_bar .left_side .logo {
	float: left;
}

.top_bar .left_side .search {
	margin-left: 22px;
	float: left;
	position: relative;
	top: -1px;
}

.top_bar .left_side .search_inp {
	width: 158px;
	height: 24px;
	padding: 0px 20px 0px 10px;
	border: 1px solid #4d4d4d;
	background: #000000;
	font-size: 14px;
	color: #ffffff;
	background: url(../images/loop.png) no-repeat 97% center;
}

.top_bar .left_side .search_inp:focus {
	background: #ffffff;
	color: #000000;
	width: 198px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #ffffff;
	background-image: url(../images/loop_focus.png); 
	background-repeat: no-repeat;
	background-position:  97% center;
}

.top_bar .left_side .search_btn {
	height: 24px;
	width: 24px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.top_bar .right_side > div {
	float: left;
	line-height: 50px;
	font-size: 14px;
	color: #ffffff;
	border-right: 1px solid #4d4d4d;
	padding: 0 15px;
}

.top_bar .right_side > div a {
	color: #ffffff;
}

.top_bar .right_side > div .number {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	padding: 0 5px;
	margin-left: 8px;
	background: #4d4d4d;
}

.top_bar .right_side > div.account {
	border-left: 1px solid #4d4d4d;
}

.top_bar .right_side > div.account img {
	margin-right: 15px;
	width: 34px;
	height: 32px;
	border-radius: 16px;
}

.navbar.main_menu {
	background: #ffffff;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #bfbfbf;
}

.navbar-default .navbar-nav>li>a {
	color: #000000;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #f7f7f7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #f7f7f7;
}

.navbar.main_menu .navbar-left li:first-child a {
	padding-left: 0;
}

.navbar-collapse {
	padding: 0;
}

.navbar-nav {
	margin:0px;
}

.content h4 {
	text-transform: uppercase;
}

.product {
	padding: 12px;
	border: 1px solid #ffffff;
	display: block;
	position: relative;
	margin: 0 auto 10px;
	max-width: 236px;
}

.product a:first-child > img {
	width: 100%;
	height: auto;
}

.product .pin {
	position: absolute;
	left: 25px;
	top: 25px;
	display: none;
}

.product .add_to_wardrobe {
	position: absolute;
	right: 30px;
	top: 230px;
	display: none;
}

.product:hover {
	border: 1px solid #000000;
	z-index: 999;
}

.product:hover .pin,
.product:hover .add_to_wardrobe {
	display: block;
}

.product div {
	font-size: 14px;
	padding-top: 5px;
}

.product div.designer_name {
	padding-top: 10px;
}

.content {
	padding-bottom: 85px;
}

.content .criteria {
	border-bottom: 1px solid #bfbfbf;
	width: 100%;
	margin-bottom: 10px;
}

.content .criteria a {
	display: block;
	float: left;
	padding: 10px;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

.content .criteria a:hover {
	border-bottom: 2px solid #bfbfbf;
	margin-bottom: -1px;
}

.content .criteria a.active {
	border-bottom: 2px solid #000000;
	margin-bottom: -1px;
}

.section > div {
	float: left;
}

.section h4 {
	margin-top: 20px;
}

.aside .my_wardrobe {
	width: 200px;
	border: 1px solid #bfbfbf;
	padding-bottom: 10px;
	margin: 30px auto 0;
}

.aside .my_wardrobe .wardrobe_icon {
	display: block;
	margin: -21px auto 0;
	position: relative;
}

.aside .my_wardrobe .in_my_wardrobe {
	font-size: 14px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 35px;
}

.aside .my_wardrobe .wardrobe_product {
	text-align: center;
	padding-bottom: 18px;
}

.aside .my_wardrobe .wardrobe_product img {
	width: 152px;
	height: auto;
}

footer {
	height: 176px;
	border-top: 1px solid #bfbfbf;
	padding-top: 20px;
}

footer .orm_footer_top .col-md-4 {
	border-left: 1px solid #bfbfbf;
}

footer .orm_footer_top .col-md-4 h5 {
	margin-top: 15px;
}

footer .orm_footer_top .social_icons {
	list-style: none;
}

footer .orm_footer_top .social_icons li {
	float: left;
	text-align: center;
	margin: 0 5px;
}

/* additional */

.orm_sub_dropdown-menu a {
	padding-left: 20px !important;
}

.greytext {
	color: #b4b4b4;
}

/* Main page */

.orm_slider {
	position: relative;
	margin-bottom: 10px;
}

.swiper-container {
	height: 400px;
}

.swiper-slide {
	position: relative;
}

.swiper_title {
	padding: 10px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 999;
	font-size: 42px;
	line-height: 42px;
	color: #ffffff;
	background: rgba(0,0,0,0.7);
}

.swiper_title .swiper_sub_title {
	font-size: 14px;
	line-height: 14px;
}

.pagination {
  position: absolute;
  z-index: 20;
  right: 40px;
  bottom: 0px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: none;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #000;
}
.swiper-slide {
	height: auto important;
}
.swiper-slide img {
	width: 100%;
	height: auto;
}

.swiper-container .arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 999;
}
.swiper-container .arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 999;
}

.orm_discounts {
	padding: 20px;
	border: 1px solid #bfbfbf;
	margin-bottom: 10px;
}

.orm_discounts .orm_percents {
	font-size: 42px;
	line-height: 42px;
	color: #000000;
	float: left;
	margin-right: 10px;
}

.orm_discounts .orm_description {
	font-size: 14px;
}

.orm_focus_on div.col-md-4:hover {

}

.orm_focus_on .orm_focus_box {
	width: 300px;
	height: 210px;
	margin: 0 auto
}

.orm_focus_on .orm_focus_box img {
	height: 100%;
	width: 100%;
}

.orm_focus_on .orm_focus_box_name {
	width: 156px;
	height: 44px;
	border: 1px solid #bfbfbf;
	background: #ffffff;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: -22px;
}

.orm_focus_on .orm_focus_box_name .focus_box_title {
	text-transform: uppercase;
	display: block;
	margin-top: 3px;
	font-size: 14px;
}

/* Cloathing page */

.content select {
	border-color: #cecece;
}

.content h4 {
	margin-bottom: 20px;
}

.clothing_aside {
	padding-left: 0;
}

.clothing_aside .tabs {
	margin-bottom: 20px;
	border-bottom: 1px solid #c0c0c0;
}

.clothing_aside fieldset {
	margin-bottom: 50px;
}

.clothing_aside .tabs a {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	color: #7f7f7f;
	margin-right: 30px;
	text-decoration: none;
	padding-bottom: 4px;
	margin-bottom: -1px;
}

.clothing_aside .tabs a.active {
	color: #000000;
	border-bottom: 2px solid #000000;
}

.filter-clothing {
	padding: 0;
	list-style: none;
	margin-bottom: 0px;
}

.filter-clothing li label {
	cursor: pointer;
	padding-left: 20px;
	position: relative;
}

.filter-clothing li input[type="radio"] {
	display: none;
}

.filter-clothing li input:checked {
	display: none;
}

.filter-label:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 1px;
	border: 2px solid #c6c6c6;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	margin-right: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin-bottom: 2px;
	cursor: pointer;
}

.filter-label:hover:before {
	border: 2px solid #3c3c3c;
	background-color: #fff;
}

#orm_filter input:checked+.filter-label:before {
	background: #4b4b4b;
	border-color: #3c3c3c;
}

.filter_title {
	font-size: 14px;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

.designer-search-wrap input {
	font-family: 'nexa_lightregular';
	border: none;
	width: 100%;
	padding: 8px 30px 8px 10px;
	background: url(../images/loop2.png) no-repeat 97% center;
	background-color: #f7f7f7;
}

.month_select {
	width: 147px;
	height: 24px;
	float: left;
}

.year_select {
	width: 103px;
	height: 24px;
	float: right;
}

ul.filter-colors {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.filter-colors li {
	float: left;
}

ul.filter-colors li a {
	width: 18px;
	height: 18px;
	display: block;
	margin-right: 18px;
	margin-bottom: 18px;
}

ul.filter-colors li a.purple {
	background: #af59ba;
}

ul.filter-colors li a.red {
	background: #ff4b39;
}

ul.filter-colors li a.orange {
	background: #ff9d00;
}

ul.filter-colors li a.yellow {
	background: #fff000;
}

ul.filter-colors li a.green {
	background: #00cd6b;
}

ul.filter-colors li a.braun {
	background: #aa662b;
}

ul.filter-colors li a.pink {
	background: #ff669c;
}

ul.filter-colors li a.blue {
	background: #00e5fe;
}

ul.filter-colors li a.neutrals {
	background: #ffe6a9;
}

ul.filter-colors li a.metalic {
	background: #8fa7a8;
}

ul.filter-colors li a.grey {
	background: #bcc4c8;
}

ul.filter-colors li a.silver {
	background: #ebf0f1;
}

ul.filter-colors li a.black {
	background: #000000;
}

ul.filter-colors li a.white {
	background: #ffffff;
	width: 18px;
	height: 18px;
	border: 1px solid #000000;
}

ul.filter-colors li a.animal {
	background: url(../images/animal.png) no-repeat 0 0;
}

.clothing_aside ul.filter-colors li:nth-child(8) a {
	margin-right: 0;
}

.clothing_aside ul.filter-colors li:nth-child(16) a {
	margin-right: 0;
}

.clothing_top_panel {
	width: 100%;
	margin-bottom: 22px;
	padding-left: 22px;
}

.clothing_top_panel .wrap_outfit_view {
	width: 106px;
	float: left;
	margin-right: 10px;
}

.clothing_top_panel .wrap_sort_by_newest {
	width: 134px;
	float: left;
}

.clothing_top_panel .outfit_view {
	width: 100%;
	height: 24px;
}

.clothing_top_panel .sort_by_newest {
	width: 100%;
	height: 24px;
}

.clothing_top_panel .pagination {
	position: static;
	float: right;
	margin: 0;
	margin-right: 20px;
	font-family: 'nexa_lightregular';
}

.clothing_top_panel .pagination li a {
	border: none;
	color: #cfcfcf;
	padding: 6px 5px;
	line-height: 14px;
}

.clothing_top_panel .pagination li a.pag_arrow {
	color: #000000;
	font-family: 'nexa_boldregular';
}

.clothing_top_panel .pagination li a.active {
	color: #000000;
	font-family: 'nexa_boldregular';
}

.clothing_top_panel .wrap_items_on_page {
	float: right;
	margin-right: 30px;
}

.clothing_top_panel .wrap_items_on_page span {
	margin-right: 10px;
	color: #7f7f7f;
}

.clothing_top_panel .wrap_items_on_page .items_on_page {
	width: 54px;
	height: 24px;
}

/* Product page */

.breadcrumbs {
	width: 100%;
	margin-bottom: 50px;
	margin-top: 10px;
}

.breadcrumbs ul {
	padding: 0;
	margin: 0;
}

.breadcrumbs ul li {
	float: left;
	list-style: none;
	margin-right: 13px;
}

.breadcrumbs ul li a {
	color: #595959;
	text-decoration: none;
	padding-right: 17px;
	background: url(../images/bc_punct.png) no-repeat right center;
}

.breadcrumbs ul li a:hover {
	text-decoration: underline;
}

.breadcrumbs ul li a.active {
	color: #000000;
	padding-bottom: 4px;
	margin-bottom: -1px;
	display: block;
	background: none;
}

.product_image {
	margin-bottom: 20px;
}

.product_image img {
	margin: 0 auto;
	display: block;
	width: 80%;
}

.product_title a {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 5px;
	color: #000000;
}

.product_sub_title {
	font-size: 16px;
	margin-bottom: 30px;
}

.product_description {
	font-size: 13px;
	margin-bottom: 30px;
}

.available {
	font-size: 14px;
	margin-bottom: 10px;
	min-height: 36px;
}

.available + .available + .available {
	margin-bottom: 50px;
}

.available span {
	float: left;
	padding-right: 15px;
}

.available_sizes {
	width: 85px;
	float: left;
	margin-left: 7px;
}

.available_quantity {
	float: left;
	margin-left: 45px;
}

.available_sizes select {
	width: 100%;
	height: 24px;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.available_quantity select {
	height: 24px;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.buttons_pannel .price {
	line-height: 32px;
	font-size: 14px;
}

a.add_to_cart,
a.add_to_my_wardrobe {
	display: block;
	width: 189px;
	height: 32px;
	line-height: 32px;
	float: right;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
	position: relative;
}

a.add_to_cart {
	color: #ffffff;
	background: #000000;
}

a.add_to_cart:hover {
	color: #000000;
	background: #ffffff;
	border: 1px solid #000000;
}

a.add_to_my_wardrobe {
	color: #000000;
	background: #ffffff;
	border: 1px solid #000000;
	padding-left: 15px;
}

a.add_to_my_wardrobe:hover {
	color: #ffffff;
	background: #000000;
}

.plus {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	position: absolute;
	left: 32px;
	top: 0px;
}

a.follow {
	font-size: 16px;
	color: #000000;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 20px;
	padding-right: 5px;
	text-decoration: none;

}

a.follow .plus {
	left: 5px;
	top: 1px;
}

a.follow:hover {
	background: #000000;
	color: #ffffff;
}

.content.product_page {
	padding-bottom: 0;
}

.orm_share .share {
	margin-right: 7px;
}

.orm_share .share,
.orm_share .social {
	float: left;
}

.orm_share .social {
	padding: 0;
	margin: 0;
	list-style: none;
}

.orm_share .social li {
	float: left;
}

.orm_share .social li a {
	padding: 0 7px;
}

.orm_share .social li a:hover {
	opacity: 0.8;
}

.orm_share .more {
	float: right;
}

.product_page_bottom {
	padding-bottom: 85px;
}

.product_page_bottom a.underline {
	text-decoration: underline;
	color: #333333;
}

.product_page_bottom a.underline:hover {
	text-decoration: none;
	cursor: pointer;
}

.orm_product_carousel {
  width: 80%;
  height: 63px;
  color: #fff;
  text-align: center;
  position: relative;
}

.orm_product_carousel .swiper-slide {
	height: 63px !important;
}

.orm_carousel_slide:hover {
	cursor: pointer;
}

.orm_product_carousel .swiper-slide img {
	width: 60px;
	height: 63px;
}

.orm_product_carousel .swiper-slide.active img {
	border: 2px solid #9c9c9c;
}

.orm_carousel_prev,
.orm_carousel_next {
	position: absolute;
	top: 0;
	display: block;
	height: 100%;
	width: 7px;
	z-index: 999;
}

.orm_carousel_prev {
	left: 0;
	background: url(../images/carousel_prev.png) no-repeat 0 center;
}

.orm_carousel_next {
	right: 0;
	background: url(../images/carousel_next.png) no-repeat 0 center;
}

.orm_share {
	position: relative;
	top: -15px;
}

/* Product page popup (add to cart) */

.wrap_product_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 999;
	display: none;
}

.add_to_cart_popup {
	width: 600px;
	height: 292px;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ffffff;
	margin-top: -146px;
	margin-left: -300px;
}

.add_to_cart_popup .add_to_cart_popup_title {
	line-height: 52px;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px;
}

.add_to_cart_popup .product_popup_part {
	margin: 15px 15px 5px;
}

.add_to_cart_popup .product_popup_part .product_popup_img {
	width: 135px;
	height: 155px;
	float: left;
	margin-right: 10px;
}

.add_to_cart_popup .product_popup_part .product_popup_img img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.add_to_cart_popup .product_popup_part {
	
}

.add_to_cart_popup .product_popup_part .product_popup_info {
	float: left;
	position: relative;
}

.add_to_cart_popup .product_popup_part .product_popup_info .product_popup_info_caption {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.add_to_cart_popup .product_popup_part .product_popup_info .product_popup_info_row .cell {
	width: 140px;
	float: left;
	font-size: 14px;
}

.add_to_cart_popup .product_popup_part .product_popup_info .product_popup_info_row-bottom {
	margin-top: 45px;
}

.add_to_cart_popup .product_popup_part .product_popup_info .product_popup_info_row-bottom .cell {
	font-size: 12px;
}

.add_to_cart_popup .add_to_cart_popup_bottom {
	border-top: 1px solid #e6e6e6;
}

.add_to_cart_popup .add_to_cart_popup_bottom a.add_to_my_wardrobe {
	padding-left: 0;
}

.add_to_cart_popup .add_to_cart_popup_bottom div {
	width: 398px;
	margin: 15px auto 0;
}

.close_popup {
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(../images/close_popup.png) no-repeat 0 0;
	width: 18px;
	height: 18px;
}

/* Designer page */

.orm_designer_page .breadcrumbs {
	margin-bottom: 10px;
}

.orm_designer_info_wrap {
	margin-bottom: 20px;
	height: 365px;
	background: url(../images/designer-test-img.png) no-repeat 0 0;
	background-size: cover;
	padding: 75px;
}

.orm_designer_info_wrap .orm_designer_info {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_logo {
	width: 22%;
	height: 100%;
	float: left;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_logo img {
	width: 100%;
	height: 100%;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content {
	float: left;
	width: 78%;
	height: 100%;
	padding: 50px 60px;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content .orm_designer_content_inner {
	position: relative;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content a.read_more {
	display: block;
	color: #333333;
	text-decoration: underline;
	float: right;
	margin-top: 10px;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content a.read_more:hover {
	text-decoration: none;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content .orm_designer_name {
	font-size: 24px;
	margin-bottom: 15px;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content .orm_designer_about {
	font-size: 14px;
}

.orm_designer_info_wrap .orm_designer_info .orm_designer_content .orm_followers {
	position: absolute;
	top: 1px;
	right: 80px;
	font-size: 14px;
}

/* All designers page */

.all_designers_page .row {
	margin: 0;
	margin-bottom: 40px;
}

.all_designers_page .section > div {
	float: none;
	padding-left: 25px;
}

.all_designers_page .designer-search-wrap {
	margin-top: -11px;
	width: 220px;
}

.all_designers_page .row .all_des_caption {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.all_designers_page .row ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.all_designers_page .row > div {
	padding-left: 0;
}

.all_designers_page .row ul li a {
	text-transform: uppercase;
	color: #7f7f7f;
	line-height: 25px;
}

.sub_filter-clothing {
	list-style: none;
	margin-bottom: 0px;
	padding-left: 15px;
}

.sub_filter-clothing {
	display: none;
}

#orm_des_filter .filter-label.activelabel:before {
	background: #4b4b4b;
	border-color: #3c3c3c;
}

/* My ORMARY page */

.orm_profile {
	height: 225px;
}

.orm_avatar {
	width: 225px;
	height: 225px;
	border: 1px solid #cccccc;
	padding: 35px 40px;
	position: relative;
}

a.orm_avatar_hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: none;
}

.orm_avatar:hover a.orm_avatar_hover {
	display: block;
}

.orm_avatar_hover span {
	display: block;
	padding-right: 10px;
	margin-top: 48%;
	background: url(../images/change_img.png) no-repeat 158px 3px;
}

.orm_avatar img {
	width: 100%;
	height: 100%;
}

.orm_profile .title {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.orm_profile .about {
	font-size: 13px;
}

.orm_profile .sub-info {
	margin-bottom: 20px;
	font-size: 14px;
}

.orm_profile .sub-info .site {
	display: block;
	padding-right: 20px;
	float: left;
	background: url(../images/bc_punct.png) no-repeat 95% center;
}

.orm_profile .sub-info .site a {
	color: #333333;
}

a.edit_my_profile {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	padding: 0 5px;
}

a.edit_my_profile:hover {
	color: #ffffff;
	background: #000000;
}

.wrap_designer_box {
	margin-bottom: 43px;
}

.wrap_designer_box .designer_box_img {
	text-align: center;
	margin-bottom: 15px;
}

.wrap_designer_box .designer_box_img a img {
	width: 142px;
	height: 142px;
}

.wrap_designer_box .designer_box_title {
	text-align: center;
	margin-bottom: 5px;
}

.wrap_designer_box .designer_box_title a {
	color: #000000;
	text-decoration: none;
}

.unfollow_btn {
	text-align: center;
}

a.unfollow {
	display: inline-block;
	margin: 0 auto;
	color: #cecece;
	text-transform: uppercase;
	border: 1px solid #cecece;
	padding: 5px 15px;
	font-size: 10px;
	text-decoration: none;
}

a.unfollow:hover {
	color: #ffffff;
	border: 1px solid #ffffff;
	background: #cecece;
}

.my_ormary_page .criteria {
	position: relative;
	top: -42px;
}

.content .criteria a .number {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	padding: 0 5px;
	margin-left: 8px;
	background: #cccccc;
	color: #ffffff;
}

/* Media queries */

@media screen and (max-width: 1199px){
	.swiper-wrapper,
	.swiper-slide {
		height: auto !important;
	}
	.orm_discounts .orm_percents {
		float: none;
	}
	.orm_focus_on .orm_focus_box {
		width: 100%;
		height: auto;
	}
	.product .add_to_wardrobe {
		position: static;
		text-align: center;
		margin-top: 10px;
		display: block;
	}
	.top_bar {
		padding: 0;
	}
}

@media screen and (max-width: 992px){
	.top_bar .right_side > div,
	.top_bar .right_side > div.account {
		border: none;
	}
	.left_side {
		max-width: 320px;
		margin: 0 auto;
	}
	.right_side {
		float: left !important; 
	}
	.aside .my_wardrobe {
		margin: 50px auto 0;
	}
	.swiper_title {
		font-size: 25px;
		line-height: 25px;
	}
	.top_bar .left_side .search_inp:focus {
		width: 158px;
	}
	.swiper-container {
		height: auto;
		max-height: 400px;
	}
	.nav>li>a {
		padding: 15px 10px;
	}
}

@media screen and (max-width: 782px){

}

@media screen and (max-width: 768px){
	.navbar.main_menu .navbar-left li:first-child a {
		padding-left: 15px;
	}
	.swiper_title {
		display: none;
	}
}

@media screen and (max-width: 560px){
	.top_bar .right_side > div {
		padding: 0 5px;
	}
	.content .criteria a {
		float: none;
	}
	.content h4 {
		text-align: center;
	}
}

@media screen and (max-width: 520px){
	.section > div {
		float: none;
		width: 266px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px){
	.top_bar .left_side .logo {
		width: 140px;
		float: none;
		margin: 0 auto;
	}
	.pagination {
		display: none;
	}
	.top_bar .left_side .search {
		margin: 20px 0 0 0;
		float: none;
	}
	.top_bar .left_side .search_inp {
		width: 100%;
		background-position: 98% center;
	}
	.top_bar .left_side .search_inp:focus {
		width: 100%;
		background-position: 98% center;

	}
	.top_bar .right_side {
		margin-bottom: 10px; 
	}
	.top_bar .right_side > div {
		line-height: 35px;
		float: none;
	}
}

/* CLEARFIX */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}







