@import url("../twentythirteen/style.css");

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=ba959ab1-315b-4f55-a9f8-2c9ab2176cb2&fontids=692325,692316,728943,728922");
@font-face{
font-family:"Didot W01 Roman";
src:url("../fonts/692325/dd077a5a-5331-4833-8a24-e3afbe24d92e.eot?#iefix");
src:url("../fonts/692325/dd077a5a-5331-4833-8a24-e3afbe24d92e.eot?#iefix") format("eot"),url("../fonts/692325/8cf278e2-5b07-4c21-97da-4762c9ea76c1.woff") format("woff"),url("../fonts/692325/488ffbea-dc53-43b4-a9e2-d5bff132a85d.ttf") format("truetype"),url("../fonts/692325/972bb961-7f13-4e8d-8c1f-034e3f4e7517.svg#972bb961-7f13-4e8d-8c1f-034e3f4e7517") format("svg");
}
@font-face{
font-family:"Didot W01 Bold";
src:url("../fonts/692316/6adf1098-6e5c-458f-a68a-2de77db01a73.eot?#iefix");
src:url("../fonts/692316/6adf1098-6e5c-458f-a68a-2de77db01a73.eot?#iefix") format("eot"),url("../fonts/692316/8c847ae1-0c02-4e9a-9203-c294e4a23fe1.woff") format("woff"),url("../fonts/692316/bae6ce0f-deaf-4f99-bdf6-de7f2cf54d04.ttf") format("truetype"),url("../fonts/692316/d62df477-3d45-4345-95a9-eac5dcd4b116.svg#d62df477-3d45-4345-95a9-eac5dcd4b116") format("svg");
}
@font-face{
font-family:"Optima LT W01 Roman";
src:url("../fonts/728943/36a73a3c-1fe5-4986-92cf-92879e7d3ac3.eot?#iefix");
src:url("../fonts/728943/36a73a3c-1fe5-4986-92cf-92879e7d3ac3.eot?#iefix") format("eot"),url("../fonts/728943/60740f82-8b81-4b05-ba70-a17d20b5fac4.woff") format("woff"),url("../fonts/728943/20567f69-bce8-40cc-bd26-50903c18d448.ttf") format("truetype"),url("../fonts/728943/47829e8d-27f6-49a4-afb6-097f32f211ad.svg#47829e8d-27f6-49a4-afb6-097f32f211ad") format("svg");
}
@font-face{
font-family:"Optima LT W01 Demi Bold";
src:url("../fonts/728922/187b25d1-ee67-4130-90e4-bcdbeb372b83.eot?#iefix");
src:url("../fonts/728922/187b25d1-ee67-4130-90e4-bcdbeb372b83.eot?#iefix") format("eot"),url("../fonts/728922/fe1b6352-cabf-4b80-aa1a-a29bf8b898b6.woff") format("woff"),url("../fonts/728922/8109e0ec-65b7-4577-b5af-60a8e110ee6c.ttf") format("truetype"),url("../fonts/728922/7514ea13-bd07-4970-885f-1141dfda6207.svg#7514ea13-bd07-4970-885f-1141dfda6207") format("svg");
}



/*
 Theme Name:     twentythirteen Child Theme
 Theme URI:      
 Description:    twentythirteen Child Theme
 Author:         Andrew Johnson
 Author URI:     http://www.elegantthemes.com
 Template:       twentythirteen
 Version:        1.0.0
*/
/* =Theme customization starts here
------------------------------------------------------- */
/* line 21, scss/style.scss */
.seriffontfamily, .entry-title a {
  font-family: didot;
}

/* line 26, scss/style.scss */
.bodyfont, .body, .widget .widget-title {
  font-family: optima;
}

/* line 36, scss/style.scss */
.mainheaders, .entry-title a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 42, scss/style.scss */
a {
  color: #141412 !important;
}

/* line 46, scss/style.scss */
.site {
  max-width: 1170px;
}

/* line 50, scss/style.scss */
iframe.fromstore, iframe.headerfromstore, iframe.footerfromstore {
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* line 58, scss/style.scss */
iframe.headerfromstore {
  height: 100px;
}

/* line 63, scss/style.scss */
iframe.footerfromstore {
  height: 200px;
}

/* line 69, scss/style.scss */
h2.blogmainheader {
font-family: didot;
font-size: 22px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
margin-bottom: 30px;
margin-top: 0px;
text-align: center;
}

/* line 79, scss/style.scss */
.sidebar .entry-header {
  padding: 0 376px 0 0px;
}

/* line 83, scss/style.scss */
.entry-header {
  margin: 0px;
}

/* line 87, scss/style.scss */
.hentry {
  padding-top: 10px;
}

/* line 91, scss/style.scss */
.entry-meta {
  width: 61px;
  float: left;
  display: inline;
  background-image: url("images/datebgfull.gif");
  background-position: top right;
  background-repeat: no-repeat;
  padding: 0px !important;
  overflow: hidden;
}

/* line 103, scss/style.scss */
.blogrollcontent {
  display: inline;
  float: left;
  padding-left: 50px;
  margin-bottom: 80px;
  max-width: 750px;
}

/* line 110, scss/style.scss */
.entry-title {
  margin-top: -4px;
  font-family: didot;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 17px;
  text-transform: uppercase;
}

/* line 120, scss/style.scss */
.site-main .sidebar-inner {
  margin: 0 auto;
  max-width: none;
}

/* line 130, scss/style.scss */
.screen-offset,
.categories-links,
.comments-area{
  background: transparent!important;
  display: block!important;
  line-height: 0!important;
  margin: 0!important;
  padding: 0!important;
  position: fixed!important;
  text-indent: -15000px !important;
  top: -15000px !important;
  width: 1px!important;
}

/* line 142, scss/style.scss */
.entry-meta .date a:before {
  content: "";
}

/* line 147, scss/style.scss */
.entry-meta > span {
  color: #697E88;
  float: left;
  padding: 10px;
  display: block;
  text-align: center;
  line-height: 19px;
  width: 61px;
  height: 78px;
}

/* line 159, scss/style.scss */
.entry-meta > span a {
  color: #697E88;
}

/* line 163, scss/style.scss */
.home .entry-meta {
  min-height: 200px;
}

/* line 167, scss/style.scss */
.sidebar .entry-content {
  padding-left: 0px;
}

/* line 170, scss/style.scss */
.comments-link a:before {
  content: "";
}

/* line 173, scss/style.scss */
.daynumber {
  font-size: 22px;
}

/* line 177, scss/style.scss */
.entry-date .month {
  text-transform: uppercase;
}

/* line 181, scss/style.scss */
.entry-date .year {
  font-size: 13px;
}

/* line 185, scss/style.scss */
.entry-date div {
  display: inline-block;
}

/* line 190, scss/style.scss */
.entry-meta a:hover {
  color: #697E88;
}

/* line 194, scss/style.scss */
.entry-meta {
  height: 320px;
}

/* line 197, scss/style.scss */
.meta-number-of-comments {
  clear: both;
  width: 35px;
  display: block;
  height: 40px;
  margin-left: 10px;
  background-image: url("images/numberofcommentsbg.gif");
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 5px;
  position: relative;
  top: 20px;
}

/* line 211, scss/style.scss */
.entry-title a {
  font-weight: normal;
}

/* line 222, scss/style.scss */
.entry-thumbnail img {
  display: inline;
  float: left;
}

/* line 227, scss/style.scss */
.entry-thumbnail {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* line 232, scss/style.scss */
.sidebar .entry-content {
  clear: both;
  padding-top: 20px;
}

/* line 238, scss/style.scss */
div.read-more {
  display: both;
clear: both;
}

/* line 243, scss/style.scss */
div.read-more a {
  font-weight: bold;
}

/* line 250, scss/style.scss */
.widget {
  background-color: white;
}

/* line 253, scss/style.scss */
.widget .widget-title {
  border-bottom: 1px solid #C0C0C0;
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
}


/* line 261, scss/style.scss */
.site-main .widget-area {
  width: 250px;
}

/* line 265, scss/style.scss */
.widget_categories a {
  text-transform: uppercase;
}

/* line 268, scss/style.scss */
.site {
  border: none;
}

.post .entry-content {
    padding-right: 0px;
}

.post-shop-the-collection {
   display: block;
padding: 0 30px;
text-align: center;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
margin-left: 10px;
position: relative;
color: #ffffff !important;
background: #000000;
border: 1px solid #000000;

font-family: "Optima LT W01 Roman";

letter-spacing: 2px;
height: 41px !important;
line-height: 41px !important;
}

.widget {
    padding-left: 0px;
    padding-right: 0px;
}

.widget .slides  li {
    float: left;
    display: inline;
}

.widget .slides  li img{
    max-width: 125px;
}


.back-to-blog-home {
    position:  absolute;
}